# Production environment targets
[production]
>0.2%
not dead
not op_mini all

# Development environment targets
[development]
last 1 chrome version
last 1 firefox version
last 1 safari version
last 1 edge version
last 1 safari ios version
last 1 opera version

# New configuration
last 2 versions
maintained node versions 